body {
  color: #ffffff;
  margin: 0;
  font-family: "Roboto Mono", cursive !important;
  font-weight: 200 !important;
}

.font-link {
  font-family: "Roboto Mono", cursive !important;
}

.home-container {
  display: flex;
  flex-direction: row;
  background-color: #0d0c0a;
  border: 1px solid black;
  min-height: 100vh;
}

.sidebar {
  border: 1px solid black;

  width: 200px;
  background-color: #0f0f0f;
  color: white;
}
h3 {
  text-align: center;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 80vh;
}

/* Sidebar */

.sidebar-pages {
  min-height: 85vh;
  word-break: break-all;
  text-align: center;
  color: #ffffff;
}

.sidebar-page-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  margin: 0;
  margin-right: 50px;
  padding-right: 50px;
}

.create-page-btn {
  font-family: "Roboto Mono", cursive !important;

  color: white !important;
  border: 2px solid black !important;
  width: max-content !important;
  border-radius: 0.45rem;
  background-color: #1a2228 !important ;
}
.create-page-btn-container {
  display: flex;
  justify-content: center;
}

/* Tasks */
.tasks div {
  display: flex;
  margin-left: 1rem;
}
.todo-item {
  color: black !important;
}

.tasks {
  font-size: large;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
}

.checkbox-btn-container {
  position: absolute;
  /* float: right; */
  right: -10%;
}

.checkbox-btn {
  height: 1.9rem;
  width: 1.9rem;
}

.delete-btn {
  border: none;
  border-radius: 0.45rem;
  color: white;
  background-color: #56cc9d;
  height: 1.9rem;
  width: 1.9rem;
  position: absolute;
  right: -20%;
}

.form-submit-btn {
  border: none;
  border-radius: 0.45rem;
  color: white;
  background-color: #56cc9d;
  height: 2.5rem;
  width: 4rem;
}

/* Modal */

.modal-90w {
  font-family: "Roboto Mono", cursive !important;
}

.modal-style {
  background-color: #0d0c0a !important;
}

.font-weight-thick {
  font-weight: 300 !important;
}
