body {
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: row;
  background-color: #ce9c70;
  border: 1px solid black;
  min-height: 100vh;
}

.sidebar {
  border: 1px solid black;
  width: 200px;
  background-color: #e7c096;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 80vh;
}

.tasks div {
  display: flex;
  margin-left: 1rem;
}

.tasks {
  font-size: large;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 500px;
}

.checkbox-btn-container {
  position: absolute;
  /* float: right; */
  right: -10%;
}

.checkbox-btn {
  height: 1.9rem;
  width: 1.9rem;
}

.delete-btn {
  border: none;
  border-radius: 0.45rem;
  color: white;
  background-color: #56cc9d;
  height: 1.9rem;
  width: 1.9rem;
  position: absolute;
  right: -20%;
}

.form-submit-btn {
  border: none;
  border-radius: 0.45rem;
  color: white;
  background-color: #56cc9d;
  height: 2.5rem;
  width: 4rem;
}
